.contact-hp-field {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

iframe {
    height: 602px;
}

@media (min-width: 608px) {

    iframe {
        height: 432px;
    }
}